body {
    background-color: bisque;
}

.sip {
    position: relative;
    margin-left: 63em;
    margin-top: -11em;
    border: .5em solid #56e9ff;

}

.header {
    text-align: center;
    color: #49291e;
    font-family: Brush Script MT;
    font-size: 5em;
    background-color: #d2aa6b

}

h2.caption {
    text-position: relative;
    color: #49291e;
    text-align: right;
    margin-right: 12em;
    background-color: antiquewhite;
    border: 2em solid antiquewhite;
    margin-top: -3em;

}

#submit {
    background-color: #56e9ff;
    border-color: #49291e;
}

#submit2 {
    background-color: #56e9ff;
    border-color: #49291e;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;

}

.col2 {

    padding: 0em 3em;

}


